@font-face {
    font-family: "Press Start 2P";
    src: url(./fonts/PressStart2P.ttf) format("truetype");
}

@keyframes egor_up {
    0% {
        background-image: url('./images/egor_up.png');
    }
    50% {
        background-image: url('./images/egor_up2.png');
    }
    100% {
        background-image: url('./images/egor_up3.png');
    }
}

@keyframes egor_side {
    0% {
        background-image: url('./images/egor_walk.png');
    }
    50% {
        background-image: url('./images/egor_walk2.png');
    }
    100% {
        background-image: url('./images/egor_walk3.png');
    }
}

@keyframes lizobakt {
    0% {
        background-image: url('./images/lizab1.png');
    }
    33% {
        background-image: url('./images/lizab2.png');
    }
    66% {
        background-image: url('./images/lizab3.png');
    }
    100% {
        background-image: url('./images/lizab4.png');
    }
}

@keyframes foxford {
    0% {
        background-image: url('./images/lizaw1.png');
    }
    33% {
        background-image: url('./images/lizaw2.png');
    }
    66% {
        background-image: url('./images/lizaw3.png');
    }
    100% {
        background-image: url('./images/lizaw4.png');
    }
}

@keyframes srja {
    0% {
        background-image: url('./images/serg1.png');
    }
    33% {
        background-image: url('./images/serg2.png');
    }
    66% {
        background-image: url('./images/serg3.png');
    }
    100% {
        background-image: url('./images/serg4.png');
    }
}

:root {
    --scale: 1;
}

* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: sans-serif;
}

.background {
    background-color: #babfb0;
    background-image: url('./images/bg.jpg');
    background-size: cover;
    background-position: center;
    width: 104vw;
    height: 104vh;
    position: absolute;
}

.screen {
    width: 100vw;
    height: 100vh;
    position: absolute;
}

.screen .score {
    top: 20px;
    color: #fff;
    width: 100vw;
    font-family: 'Press Start 2P', cursive;
    font-size: 5em;
    text-align: center;
    text-shadow: 1px 1px 0px #00e, 2px 2px 0px #00c, 3px 3px 0px #009, 4px 4px 0px #006, 5px 5px 0px #003, 6px 6px 0px #000;
    position: absolute;
    z-index: 100;
    user-select: none;
}

.egor {
    animation-name: egor_up;
    animation-duration: 0.2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background-image: url('./images/egor_up.png');
    background-size: contain;
    width: calc(90px * var(--scale));
    height: calc(150px * var(--scale));
    position: absolute;
}

.egor.up {
    animation-duration: 0.1s;
}

.egor.down {
    animation: none;
}

.egor.left,
.egor.right {
    animation-name: egor_side;
    /* animation-duration: 0.1s; */
    animation-iteration-count: 1;
    animation-direction: normal;
    background-image: url('./images/egor_walk3.png');
}

.egor.left {
    transform: scaleX(-1);
}

.enemy {
    animation-name: lizobakt;
    animation-duration: 0.1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background-image: url('./images/lizab1.png');
    background-size: contain;
    width: calc(115px * var(--scale));
    height: calc(150px * var(--scale));
    position: absolute;
}

.enemy.foxford {
    animation-name: foxford;
    background-image: url('./images/lizaw1.png');
}

.enemy.srja {
    animation-name: srja;
    background-image: url('./images/serg1.png');
}

.rank_table {
    background-color: #4f2edd;
    width: 500px;
    height: 100vh;
    overflow: visible;
    transition: transform 0.2s ease-out;
}

.rank_table::after {
    content: '';
    background-color: #4f2edd;
    top: -200px;
    left: 220px;
    width: 299px;
    height: calc(100vh + 1000px);
    transform: rotate(10deg);
    display: block;
    position: absolute;
    transition: transform 0.2s ease-out;
}

.rank_table.hidden {
    transform: translateX(-700px);
}

.rank_table.hidden::after {
    transform: rotate(0deg);
}

.ranks {
    /* background-color: #fff; */
    color: #fff;
    text-align: center;
    width: 460px;
    /* height: calc(100vh - 40px); */
    top: 20px;
    left: 20px;
    border-collapse: collapse;
    position: absolute;
    z-index: 10;
}

.ranks td {
    border: 2px solid #fff;
    padding: 10px 0;
    box-sizing: border-box;
}

.input_area {
    width: calc(100vw - 650px);
    height: 100vh;
    top: 0;
    right: 0;
    padding: 100px 0;
    position: absolute;
    box-sizing: border-box;
}

.input_area h1 {
    color: #fff;
    width: auto;
    height: fit-content;
    font-family: 'Press Start 2P', cursive;
    font-size: 51px;
    text-align: center;
    text-shadow: 1px 1px 0px #00e, 2px 2px 0px #00c, 3px 3px 0px #009, 4px 4px 0px #006, 5px 5px 0px #003, 6px 6px 0px #000;
    z-index: 100;
    user-select: none;
    overflow: visible;
}

.input_area .name {
    background-color: #fff;
    width: 60%;
    max-width: 400px;
    height: 50px;
    margin: 0 auto;
    padding: 2px 10px 0;
    left: 0;
    right: 0;
    top: 250px;
    font-size: 20px;
    position: absolute;
    outline: none;
    border: none;
    box-sizing: border-box;
    box-shadow: 1px 1px 0px #00e, 2px 2px 0px #00c, 3px 3px 0px #009, 4px 4px 0px #006, 5px 5px 0px #003, 6px 6px 0px #000;
}

.start_btn {
    background-color: #4f2edd;
    color: #fff;
    text-align: center;
    width: 60%;
    max-width: 200px;
    height: 50px;
    margin: 0 auto;
    padding: 16px 10px 0;
    left: 0;
    right: 0;
    top: 350px;
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    position: absolute;
    box-sizing: border-box;
    box-shadow: 1px 1px 0px #00e, 2px 2px 0px #00c, 3px 3px 0px #009, 4px 4px 0px #006, 5px 5px 0px #003, 6px 6px 0px #000;
    cursor: pointer;
    user-select: none;
}

.start_btn:hover {
    background-color: #ff4117;
}

.start_btn:active {
    background-color: #ff4117;
    left: 12px;
    top: 356px;
    box-shadow: none;
}